<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="">The complete RoR Developer</a> by <a href="">Oleksandr Gochu</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>